/* src/assets/styles/task-card.css */

/* --- GŁÓWNA KARTA --- */
.task-card {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    width: 220px;
    /* Domyślny styl (nieukończone) */
    border-left: 5px solid #ccc;
    background-color: white;
    opacity: 1;


}

/* Styl dla ukończonego zadania */
.task-card.completed {
    border-left-color: #4CAF50;
    background-color: #e8f5e9;
    opacity: 0.8;
}

/* --- NAGŁÓWEK I TYTUŁ --- */
.task-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.task-title {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;      /* Zakaz łamania linii */
    overflow: hidden;         /* Ukryj to co wystaje */
    text-overflow: ellipsis;  /* Dodaj trzy kropki */
    display: block;           /* Ważne dla poprawnego działania overflow */
    max-width: 100%;          /* Upewnij się, że nie przekracza rodzica */
}

.task-card.completed .task-title {
    text-decoration: line-through;
    color: #2e7d32;
}

/* --- OPIS I DATA --- */
.task-desc {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.task-date {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 15px;
}

/* --- PRZYCISKI AKCJI --- */
.task-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.btn-action {
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    background-color: white;
    transition: background-color 0.2s;
}

/* Przycisk Toggle (Zrobione) */
.btn-toggle {
    border: 1px solid #4CAF50;
    color: #4CAF50;
    font-weight: bold;
}

.task-card.completed .btn-toggle {
    background-color: #4CAF50;
    color: white;
}

/* Przycisk Edycji */
.btn-edit {
    border: 1px solid #2196F3;
    color: #2196F3;
}

.btn-edit:hover {
    background-color: #e3f2fd;
}

/* Przycisk Usuwania */
.btn-delete {
    border: 1px solid #cd0c0c;
    color: #e40d0d;
}

.btn-delete:hover {
    background-color: #ffebee;
}